body{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.header{
    background-color: aquamarine;
    /* width: 100%; */
    padding: 100px;

}
.main{   
    height: 800px;
    background-color: aqua;
    padding: 10px 200px;
}
.footer{
    padding: 10px 200px;
    background-color: green;
}
.header_list{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.header_item{
    list-style: none;
}
.header_item a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}